Etec-TLBD2/LojaInfoV1-EnviadaWagnerECarlos
Etec-ProgramacaoDeComputadoresII/LojaDeInformaticaV1-EnviadaJeferson/
Etec-ProgramacaoDeComputadoresII/PC2LojaDeInformatica
Etec-TM-Cordova/demos

**/.idea
**/**/*.md
**/**/*.log
**/**/*.xcf
**/**/*sample*
**/build
**/*pdf
**/target/*
**/*.zip
**/.git
**/*.html
**/*.png
**/*.odt
**/*.dvi
**/*.tex
**/#*
**/.#*
**/*.part
**/*.mkv
**/**/*.org_archive
*.rar
android/samples/
