Etec-TLBD2/LojaInfoV1-EnviadaWagnerECarlos
Etec-ProgramacaoDeComputadoresII/LojaDeInformaticaV1-EnviadaJeferson/
Etec-ProgramacaoDeComputadoresII/PC2LojaDeInformatica
android/projetos/**
**/jquery.mobile-1.4.5
**/target/*
**/*.zip
**/.git
**/*.html
**/*.png
**/*.odt
**/*.dvi
**/*.tex
**/#*
**/.#*
**/*.part
**/*.mkv
**/**/*.org_archive
