# from https://github.com/android10/Android-CleanArchitecture-Kotlin/blob/master/.gitignore


# Crashlytics configuations
com_crashlytics_export_strings.xml

# Local configuration file (sdk path, etc)
local.properties

.signing/

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

/*/build/
build/

*.apk
*.ap_
*.dex
*.class
/*/local.properties
/*/out
/*/*/build
/*/*/production


*.versionsBackup
*.iml
.gradle
.idea
/idea/testData/debugger/tinyApp/classes*

*.iws
*.ipr
*~
*.swp


/local.properties

/captures
.externalNativeBuild
/android.tests.dependencies
/ideaSDK
/clionSDK
/android-studio/sdk
/tmp

!**/src/**/build
!**/test/**/build
!**/testData/**/*.iml
kotlin-ultimate/
# Windows thumbnail db
Thumbs.db
